div.Home {
  display: flex;

  align-items: flex-start;
  height: 100%;
  min-height: 100%;

  & > * {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    height: 100%;
  }

  & > :first-child {
    flex: 0 0 16%;
  }

  & > :not(:first-of-type) {
    flex-direction: column;
    flex-grow: 1;
  }

  div.container {
    padding: 0;
  }
}
