.MainDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #e5e5e5;
  height: 100%;

  & > div {
    display: flex;
  }

  div.group1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 1.5rem 2rem;
  }

  .subdiv {
    display: flex;
    flex-wrap: wrap;
    // border: 3px solid black;
    width: 100%;

    & div {
      border-top: 2.7rem;

      // &:nth-of-type(odd){
      //   width: 70%;
      //   padding:1em;
      //   border: 2px solid black;
      //   margin: 10px;
      // }
      // &:nth-child(odd) {
      //   // flex: 0 0 70%;
      //   width: 70%;
      //   padding:1em;
      //   border: 2px solid black;
      //   margin: 10px;
      // }

      // &:nth-child(even) {
      //   // flex: 0 0 30%;
      //   width: 30%;
      //   padding:1em;
      //   border: 2px solid black;
        
      // }
    }

    .linegraph {
      flex: 0 0 75%;
      background-color: #fff;
      // width: 70%;
      padding:1em;
      margin: 10px;
      // padding: 10px;
    }

    .bargraph {
      flex: 0 0 20%;
      background: linear-gradient(135deg, #3a416f 0%, #141727 100%);
      padding:1em;
      margin: 10px;
      border-radius: 1.2rem;
    }

    .users {
      flex: 0 0 75%;
      background-color: #fff;
      box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.05);
      border-radius: 1.2rem;
      margin-bottom: 3rem;
      overflow: hidden;
      // width: 70%;
      padding:1em;
      margin: 10px;

      // width: 100%;
    }
  }
}

// /* Responsive layout - makes a one column layout instead of a two-column
//   layout */@media (max-width: 800px) {  .flex-item-right,
//     .flex-item-left {    flex: 100%;  }}
