.Header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   flex-wrap: wrap;
  height: 7rem;
  background-color: #fff;
  font-size: 1.4rem;
  padding: 0.4rem;

  & > div:first-child {
    margin-right: auto;
    padding: 0.7rem;

    span {
      color: #171717;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 3.4rem;
    }
  }

  & > div:last-child {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7rem;
    background-color: #fff;
    font-size: 1.4rem;

    select {
      border: none;
      color: #767676;
      background-color: #fff;
      //   width: 0.3rem;
    }

    span {
      display: inline-block;
      width: 4rem;
      height: 4rem;
      margin-right: 0.9rem;
    }
  }

  .search__icon {
    width: 0.8rem;
    height: 0.8rem;
  }

  .primary_icon {
    width: 4rem;
    height: 4rem;
  }

  .search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    margin-right: 5.1rem;

    & > input[type='text'] {
      font-family: inherit;
      font-size: 1.3rem;
      line-height: 1.4rem;
      color: #d6d7e3;

      background-color: var(--color-grey-light-2);
      border: none;
      padding: 0.7rem 2rem;
      border-radius: 0.3rem;
      width: 90%;
      margin-right: -3.5rem;
      transition: all 0.2s;
      background: #fafafa;
      padding: 1rem;
      padding-left: 3.4rem;
    }

    & > img {
      display: block;
      position: relative;
      left: 2.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  header.Header {
    flex-direction: column;
    height: auto;
    & > div:last-child {
      padding-left: 1.5em;
    }
    div.search input[type='text'] {
      width: 60%;
    }
  }
}
